.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
 }
 .card {
   flex: 0 0 300px;
   min-width: 300px;
   background: #f2f2f2;
   border-radius: 7px;
   margin-top: 10px;
   margin-bottom: 10px;
   padding: 10px 10px 50px 10px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   font-family: arial;
 }
 .cardtitle {
     color: grey;
     font-size: 18px;  
 }
 .cardbutton {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
} 