<header>
    <div class="logo">
        <a  [routerLink] = "'/'" (click)="aboutClick('')">
        <img class="logo-img" src="../../assets/icon.svg" alt="logo">
        </a>
        <a [routerLink] = "'/'" style="text-decoration: none;" (click)="aboutClick('')">
        <p>A Minimal URL</p>
        </a>
     </div>
     <nav>
        <input type="checkbox" id="nav" class="hidden"/>
        <label for="nav" class="nav-open"><i></i><i></i><i></i></label>
        <div class="nav-container">
            <span style="cursor: pointer; font-size: 22px" (click)="modeClick()">{{mytext}}</span>
            <a id="about" [routerLink] = "" (click)="aboutClick('toggle')" class="anchor">About</a>
            <div align="center" class="cards" id="cards" (click)="aboutClick('toggle')">
                <section class="card">
                    <img class="card_img" src="../../assets/profile.jpg" alt="Saurabh" style="width:100%">
                    <h1 class="cardblack">Saurabh Verma</h1>
                    <p class="cardtitle">Full Stack Developer</p>
                    <p><button class="cardbutton" onclick="window.open('https://github.com/saurabhshalu','_blank')">Contact</button></p>
                </section>
            </div>
        </div>
     </nav>
</header>
<section>
    <div class="box">
        <div class="urlnbutton">
			<input id="url" type="url" autocomplete="off" class="form__field"placeholder="enter url to shorten" [(ngModel)]="myurl" (input)="isValidURL()"/>
			<button id="shortenurl" type="button" class="btn btn--primary btn--inside" (click)="ShortenURL()">MINIFY</button>
        </div>
        <p>add $ to end of shorten url to see statistics</p>
    </div>
    <div *ngIf="history!=null" class="box history">
        <h1>{{history['history']['clicks']}}</h1>
        <p>clicks</p>
    </div>
    <div id="waiting"><div></div><div></div></div>
</section>