/* You can add global styles to this file, and also import other style files */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #e2e2e2;
    color: #424043; /* #514371   #2e2a2f #424043*/
    font-family: 'Ubuntu', sans-serif;
}